@import '~@angular/material/_theming';
@import '../../../../common';

.widgets-menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background: mat-color($primary-palette, 700);
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;

  .hint {
    color: $accent-color;
    padding: 0 20px;
  }

  .arrow {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: mat-color($primary-palette, 700);
    @include dark-primary-gradient-v();

    mat-icon {
      font-size: 36px;
      height: 36px;
      width: 36px;
    }
  }

  .more {
    color: mat-color($accent-palette, 500);
    font-size: 48px;
    margin: 0 20px;
    height: 48px;
    width: 48px;
  }

  .btn-widget {
    //@include accent-gradient();
    margin: 5px 10px;
    position: relative;
    color: #000;

    .btn-remove {
      position: absolute;
      top: 2px;
      right: 10px;
      color: $accent-color;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .btn-widget.disabled {
    padding-right: 40px;
    color: #fff;
  }
}
