<div class="sidenav">
  <div class="menu">
    <button mat-menu-item routerLink="/routings">
      <mat-icon class="font-effect-emboss">navigation</mat-icon>
      <span class="label font-effect-emboss">Routings</span>
    </button>
    <button mat-menu-item routerLink="/carriers">
      <mat-icon class="font-effect-emboss">local_shipping</mat-icon>
      <span class="label font-effect-emboss">Carriers</span>
    </button>
    <button mat-menu-item routerLink="/products">
      <mat-icon class="font-effect-emboss">storefront</mat-icon>
      <span class="label font-effect-emboss">Products</span>
    </button>
    <button mat-menu-item routerLink="/dealers">
      <mat-icon class="font-effect-emboss">pin_drop</mat-icon>
      <span class="label font-effect-emboss">Dealers</span>
    </button>
    <button mat-menu-item routerLink="/orders">
      <mat-icon class="font-effect-emboss">receipt_long</mat-icon>
      <span class="label font-effect-emboss">Orders</span>
    </button>
    <button mat-menu-item routerLink="/processes">
      <mat-icon class="font-effect-emboss">repeat</mat-icon>
      <span class="label font-effect-emboss">Processes</span>
    </button>
    <button mat-menu-item routerLink="/accounts">
      <mat-icon class="font-effect-emboss">recent_actors</mat-icon>
      <span class="label font-effect-emboss">Accounts</span>
    </button>
    <button mat-menu-item routerLink="/users">
      <mat-icon class="font-effect-emboss">people</mat-icon>
      <span class="label font-effect-emboss">Users</span>
    </button>
    <button mat-menu-item routerLink="/reports">
      <mat-icon class="font-effect-emboss">receipt</mat-icon>
      <span class="label font-effect-emboss">Reports</span>
    </button>
  </div>
</div>
