bin/dev/netcoreapp3.1/psl.Entity.dll
bin/dev/netcoreapp3.1/psl.Entity.pdb
obj/Debug/netcoreapp3.1/psl.Entity.csprojAssemblyReference.cache
obj/dev/netcoreapp3.1/psl.Entity.csprojAssemblyReference.cache
obj/dev/netcoreapp3.1/psl.Entity.dll
obj/dev/netcoreapp3.1/psl.Entity.pdb