@import '~@angular/material/_theming';
@import '../../common';

.wrapper {
  width: 80%;
  height: 100%;
  padding: 10px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;


  psl-carriers-grid {
    margin-top: 150px;
    width: 50%;
    display: block;
  }
}
