@import '~@angular/material/_theming';
@import '../../common';

.dashboard {
  position: relative;

  psl-widgets-menu {
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
  }

  .widgets-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background: transparent;
    overflow: hidden;

    psl-widget {
      max-width: 40%;
      margin: 20px 2.5%;
    }
  }
}
