<psl-container>
  <div class="dashboard">
    <psl-widgets-menu [widgets]="lkpWidgets$ | async" (add)="onAdd($event)" (remove)="deleteWidget($event)">
    </psl-widgets-menu>
    <div class="widgets-wrapper" [style.height.px]="windowHeight" [style.width.px]="windowWidth">
      <psl-widget *ngFor="let w of widgets" [id]="w.id" [heading]="w.label" [isFocused]="w.id === focusedId"
        [top]="w.top" [left]="w.left" [heightPx]="w.heightPx" [widthPx]="w.widthPx" [startX]="0" [startY]="84"
        [zIndex]="w.zIndex" [nextZIndex]="nextZIndex" (resized)="onResize(w, $event)" (dropped)="onDrop(w, $event)"
        (focused)="onFocus($event)" (remove)="deleteWidget($event)">
        <psl-routings-grid *ngIf="w.name === 'routings-grid'"></psl-routings-grid>
        <psl-routings-map *ngIf="w.name === 'routings-map'"></psl-routings-map>
      </psl-widget>
    </div>
  </div>
</psl-container>
