<div class="wrapper">
  <ngx-charts-bar-vertical-stacked [scheme]="colorScheme" [results]="data" [gradient]="true" [xAxis]="true"
    [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Product"
    yAxisLabel="Quantity" [animations]="true" (select)="onSelect($event)">
  </ngx-charts-bar-vertical-stacked>
  <img class="product-thumb" [style.left.%]="8.2" [style.top.%]="25" src="assets/products/compact-1series.png">
  <img class="product-thumb" [style.left.%]="12.4" [style.top.%]="35" src="assets/products/compact-2series.png">
  <img class="product-thumb" [style.left.%]="16.4" [style.top.%]="53" src="assets/products/compact-3series.png">
  <img class="product-thumb" [style.left.%]="20.3" [style.top.%]="-6" src="assets/products/compact-4series.png">
  <img class="product-thumb" [style.left.%]="24.7" [style.top.%]="12" src="assets/products/rowcrop-6series.jpg">
  <img class="product-thumb" [style.left.%]="28.8" [style.top.%]="23" src="assets/products/rowcrop-7series.jpg">
  <img class="product-thumb" [style.left.%]="32.9" [style.top.%]="50" src="assets/products/rowcrop-8series.jpg">
  <img class="product-thumb" [style.left.%]="36.9" [style.top.%]="21" src="assets/products/specialty-5075GL.png">
  <img class="product-thumb" [style.left.%]="41.2" [style.top.%]="28" src="assets/products/specialty-5090EL.png">
  <img class="product-thumb" [style.left.%]="45.3" [style.top.%]="22" src="assets/products/specialty-5100ML.png">
  <img class="product-thumb" [style.left.%]="49.4" [style.top.%]="47" src="assets/products/specialty-5115ML.png">
  <img class="product-thumb" [style.left.%]="53.4" [style.top.%]="32" src="assets/products/specialty-5125ML.png">
  <img class="product-thumb" [style.left.%]="57.7" [style.top.%]="25" src="assets/products/utility-5E.jpg">
  <img class="product-thumb" [style.left.%]="61.9" [style.top.%]="40" src="assets/products/utility-5M.jpg">
  <img class="product-thumb" [style.left.%]="66.0" [style.top.%]="18.5" src="assets/products/utility-5R.jpg">
  <img class="product-thumb" [style.left.%]="70.2" [style.top.%]="41.5" src="assets/products/utility-6E.jpg">
  <img class="product-thumb" [style.left.%]="74.3" [style.top.%]="7" src="assets/products/utility-6M.jpg">
  <img class="product-thumb" [style.left.%]="78.5" [style.top.%]="23.5" src="assets/products/utility-6R.jpg">
</div>
