@import '~@angular/material/_theming';
@import '../../../common';

.grid {
  .mat-header-cell {
    text-align: center;
  }

  .mat-header-cell.mat-column-destination,
  .mat-header-cell.mat-column-destinationCity,
  .mat-header-cell.mat-column-origin,
  .mat-header-cell.mat-column-originCity {
    min-width: 72px;
  }

  .mat-column-id {
    max-width: 48px;
  }

  .mat-column-startTime {
    max-width: 84px;
  }

  .mat-column-carrier {
    min-width: 160px;

    img {
      width: 80%;
    }
  }

  .mat-header-cell.mat-column-destinationState,
  .mat-header-cell.mat-column-originState {
    min-width: 28px;
  }

  .mat-column-destination {
    height: 100px;

    img {
      height: 80%;
    }
  }
}
